:root {
    --black: #141414;
    --darkGreen: #283618;
    --lightGreen: #588157;
    --white: #F9F9F9;
    --sun: #FEFAE0;
    --beige: #EECE9F;
    --lightBrown: #DDA15E;
    --darkbrown: #CD8742;
    --soil: #895737;
}


.bg-lightGreen {
    background: var(--lightGreen);
}

.bg-lightBrown {
    background: var(--lightBrown);
}

.bg-sun {
    background: var(--sun);
}

.bg-beige {
    background: var(--beige);
}

.soil {
    text-shadow: 0 0 1px var(--sun);
    color: var(--soil);
}