:root {
  --black: #141414;
  --darkGreen: #283618;
  --lightGreen: #588157;
  --white: #f9f9f9;
  --sun: #fefae0;
  --beige: #eece9f;
  --lightBrown: #dda15e;
  --darkBrown: #cd8742;
  --soil: #895737;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid purple; */
}

a {
  text-decoration: none;
  color: #141414;
}

/* -                                                                                                                                              - */

.bg-darkGreen {
  background: var(--darkGreen);
}

.bg-lightGreen {
  background: var(--lightGreen);
}

.bg-sun {
  background: var(--sun);
}

.bg-beige {
  background: var(--beige);
}

.bg-lightBrown {
  background: var(--lightBrown);
}

.bg-darkBrown {
  background: var(--lightBrown);
}

.bg-soil {
  background: var(--soil);
}

/* $ text-color */
.darkGreen {
  text-shadow: 0 0 1px var(--sun);
  color: var(--darkGreen);
}

.lightGreen {
  color: var(--lightGreen);
}

.sun {
  color: var(--sun);
}

.beige {
  color: var(--beige);
}

.lightBrown {
  color: var(--lightBrown);
}

.darkBrown {
  text-shadow: 0 0 1px var(--sun);
  color: var(--darkBrown);
}

.soil {
  text-shadow: 0 0 1px var(--sun);
  color: var(--soil);
}

/* -                                                                                                                                               - */
/*  _  books                                                                                                                                */
.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cardBook {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 250px;
  width: 400px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  text-align: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 10px;
}

.status {
  background: var(--beige);
  border-radius: 10px;
  padding: 3px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.separator {
  font-weight: bolder;
  font-size: small;
  color: rgba(0, 0, 0, 0.2);
  margin: 0 3px;
}

.tags {
  display: flex;
  align-items: center;
}

.bgSynopsis,
.bgCommentUser {
  background: rgba(0, 0, 0, 0.03);
  padding: 3px;
}

.bgSynopsis::before,
.bgCommentUser::before {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
}

.bgSynopsis::before {
  content: "Synopsis";
}

.synopsis,
.commentUser {
  white-space: pre-wrap;
  display: -webkit-box;
  height: auto;
  font-size: 0.8rem;
  text-align: justify;
  line-height: 1;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment {
  display: flex;
  flex-direction: row;
}

.bgCommentUser {
  border-left: 2px solid rgba(88, 129, 87, 1);
  margin-left: 5px;
}

.bgCommentUser::before {
  content: "Avis";
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photoProfile {
  height: 30px;
  max-width: 30px;
  /* overflow: hidden; */
  object-fit: cover;
  border-radius: 150px;
}

.coverBook {
  height: 90%;
}

/* -                                                                                                                                                     */
/*  _ showBook                                                                                                                                         */

.page {
  display: flex;
}

.leftShowBook {
  width: 20vw;
}

.rightShowBook {
  width: 80vw;
}

.allInfos {
  display: flex;
}

.leftInfos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 3vw;
}

.rightInfos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.targetStatus {
  display: flex;
  justify-content: space-between;
}

.targetShowBook {
  background: rgb(0 0 0 / 4%);
  border-radius: 7px;
  padding: 0 5px;
}

.statusShowBook {
  background: var(--beige);
  color: var(--darkGreen);
  border-radius: 5px;
  padding: 0 5px;
}

.synopsisInfos {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-evenly; */
}

.caseSynopsis::before, .caseUserComment::before {
  font-weight: bold;
}

.caseSynopsis::before {
  content: 'Synopsis';
  color: rgb(238 206 159 / 75%);
}

.caseSynopsis {
  width: 70%;
  padding: 5px 10px;
  background: rgb(238 206 159 / 20%);
}

.infos {
  width: 30%;
}

.userComment {
  display: flex;
  flex-direction: row-reverse;
}

.caseUserComment::before {
  content: 'Commentaire';
  color: rgb(88 129 87 / 30%);
}

.caseUserComment {
  background: rgba(40, 54, 24, 0.05);
  border-left: 3px solid var(--lightGreen);
  padding: 5px 10px;
  margin-right: 10px;
}

.userShowBook {
  text-align: center;
  align-self: flex-end;
}

/* -                                                                                                                                                 */
/* _   stories                                                                                                                                    */

.pageStory {
  display: flex;
  flex-flow: wrap;
}

.coverStory {
  height: 350px;
  width: 200px;
  object-fit: cover;
  border-radius: 2px;
  position: relative;
}

.bookmarkStory {
  position: absolute;
  z-index: 2;
}

/* $ photo profil */

.roundProfile {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 150px;
}













































